///////////////////////////
//         new          //
///////////////////////////

.date {
  font-size: 20px;
}

.form_cat {
  width: 200px !important;
}

.form_amt {
  text-align: right;
  width: 120px !important;
}

.form_label {
  font-size: 18px;
}

.dr_cr {
  width: 300px;
  text-align: center;
  font-size: 18px;
}

.dr_total,
.cr_total {
  width: 320px;
  padding-top: 10px;
  text-align: right;
  display: flex;
  .cat_box {
    width: 200px;
  }
  .amt_box {
    width: 120px;
    margin-right: 13px;
  }
}

.form_spacer {
  padding-top: 20px;
}

.btn_spacer {
  margin: 5px 10px;
}


///////////////////////////
//         index         //
///////////////////////////

:root{
  --pc_date_id_amount_col_width: 13%;
  --pc_category_col_width: 26%;
  --pc_ledger_num_col_width: 9%;

  --sp_date_id_amount_col_width: 18%;
  --sp_category_col_width: 18%;
  --sp_ledger_num_col_width: 11%;
}

// SP
@media screen and(max-width: 479px) {
  #input_field {
    .form-group {
      width: 90%;
      padding-left: 10px;
      .form_kogaki {
        width: 90%;
      }
    }
  }
  #journal_book_header, #journal_book {
    zoom: 70%;
    //z-index: 0;
  }

  #journal_book_header {
    margin-bottom: -25px;
    .date_id_col,
    .amount_col {
      width: var(--sp_date_id_amount_col_width);
    }
    .category_col {
      width: var(--sp_category_col_width);
    }
    .ledger_num_col {
      width: var(--sp_ledger_num_col_width);
    }
  }

  #journal_book {
    height: 65vh;
    width: 100%;
    //overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    .date_id_col,
    .amount_col {
      width: var(--pc_date_id_amount_col_width);
    }
    .category_col {
      width: var(--pc_category_col_width);
    }
    .ledger_num_col {
      width: var(--pc_ledger_num_col_width);
    }
  }
}

// PC
@media screen and(min-width: 961px) {
  .wrapper {
    white-space: nowrap;
    margin-right: 20px;
  }
  #input_field {
    .dr_field, .cr_field {
      display: inline-block;
    }
    .cr_field {
      padding-left: 20px;
    }
    .one_touch_btns, .form_kogaki {
      width: 660px;
    }
  }
  #journal_book_header {
    width: calc(100% - 15px);
    margin-bottom: -16px;
    .date_id_col,
    .amount_col {
      width: var(--pc_date_id_amount_col_width);
    }
    .category_col {
      width: var(--pc_category_col_width);
    }
    .ledger_num_col {
      width: var(--pc_ledger_num_col_width);
    }
  }

  #journal_book {
    height: calc(100vh - 150px) ;
    width: 100%;
    overflow-y: scroll;
    .date_id_col,
    .amount_col {
      width: var(--pc_date_id_amount_col_width);
    }
    .category_col {
      width: var(--pc_category_col_width);
    }
    .ledger_num_col {
      width: var(--pc_ledger_num_col_width);
    }
  }
}