.trial-top-box {
  display: flex;
  .exec_btn {
    margin-left: 50px;
    height: 25px;
    width: 100px;
    padding-top: 2px;
  }
}

.table-box {
  padding-top: 1px;
}


@media screen and(max-width: 479px) {
  .settlement_table {
    zoom: 50%;
  }

  .trial-top-box {
    padding-top: 10px;
    padding-left: 10px;
  }

  .nav-tabs {
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    zoom: 50%;
  }
  .nav-tabs li {
    display: table-cell;
    vertical-align: middle;
  }
}